:root{

    --main-font:Roboto, sans-serif;
    --secondary-font: Raleway;
    --title-cl: #212121;
    --txt-cl: #757575;
    --accent-cl: #2196F3;
    --bg-cl: #2F303A;
    --line-height: calc(24/14);
    color: var(--title-cl);
    font-family: var(--main-font);
}





body{
font-family:Roboto,sans-serif;

}
ul{
    margin: 0;
    padding: 0;
}


.container {
width: 1200px;
margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;



}

    


.logo-header{
    color: #000;
        font-family:var(--secondary-font);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    
}
.colortext{
    
    color:var(--accent-cl);
        font-family: var(--secondary-font);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

a{
    text-decoration: none;
}

.nav-link{
    color: var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        
    
        
}
.nav-link:hover{
    color: var(--accent-cl);
}
.nav-link.page{
    color: var(--accent-cl);
}

.contacts{
    color:var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}
.info{
    color:var(--txt-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}
.info:hover{
    color:var(--accent-cl);
}
.tel{
    color:var(--txt-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}

.tel:hover{
    color:var(--accent-cl);
}


.list-benefits{
color:var(--txt-cl);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
    letter-spacing: 0.42px;


}
   

.button{
    background-color:var(--accent-cl);
    color: azure;
    
}
.button:hover{
    background-color: rgb(2, 104, 201);
   
}
.details{
    color:var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.punctuality{
    color: var(--title-cl);
       
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.planning{
color:var(--title-cl);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}
.technology{
    color: var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.we-do{
color: var(--title-cl);
    text-align: center;
   
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;


}
.our-team{
color: var(--title-cl);
    text-align: center;
    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;


}


.list{
    list-style: none;
    display: flex;
   flex-wrap: wrap;
    gap: 20px;    
        
        
    
}


.portfolio-list-title{

    color: var(--title-cl);
    font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: var(--line-height);
}

.portfolio-list-text{
    color: var(--txt-cl);
    font-family: var(--main-font);
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    
}
.business-efficiency{

    color: #FFF;
}


.title{
    color: #FFF;
        text-align: center;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
background-color:var(--bg-cl);
    width: 1600px;
        height: 600px;
        flex-shrink: 0;
       
}
address{
    font-style: normal;
}
.list-contacts{
    background: var(--bg-cl);
    width: 1600px;
        height: 252px;
        flex-shrink: 0;
        
}
.team-background{

    background: #F5F4FA;
}
.team{

    color: var(--title-cl);
        text-align: center;
        
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
}


.list-contacts-map{
    color: #FFF;
}

.list-contacts-mail{
    color: rgba(255, 255, 255, 0.60);
}
.list-contacts-tell{
    color: rgba(255, 255, 255, 0.60);
}
.logo-footer{
    color: #FFF;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

.list-team{
    color: #757575;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
}
.button-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-portfolio{
    background-color: #F5F4FA;
    font-family: var(--main-font);
}
.button-portfolio:hover{
    background-color: var(--accent-cl);
    color: #FFF;
}


