:root{

    --main-font:Roboto, sans-serif;
    --secondary-font: Raleway;
    --title-cl: #212121;
    --txt-cl: #757575;
    --accent-cl: #2196F3;
    --bg-cl: #2F303A;
    --line-height: calc(24/14);
    color: var(--title-cl);
    font-family: var(--main-font);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header{
border-bottom: 1px solid #2196F3;
}
address{margin-top: 28px;}
img{
    display: block;
}
p{
    margin: 0;
}
h2{
    margin: 0;
}
h3
{margin: 0;}
body{
font-family:Roboto,sans-serif;

}
ul{
    margin: 0;
    padding: 0;
}


.container {
width: 1200px;
margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  padding-top: 94px;
padding-bottom: 94px;


}
.header-container{
    display: flex;
    align-items: center;
}
    


.logo-header{
    color: #000;
        font-family:var(--secondary-font);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    
}
.colortext{
    
    color:var(--accent-cl);
        font-family: var(--secondary-font);
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

a{
    text-decoration: none;
}

.nav-link{
    color: var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
     padding-top: 32px;
     padding-bottom: 32px;
     display: block;
        
            
        
    
        
}
.nav-link:hover{
    color: var(--accent-cl);
}
.nav-link.page{
    color: var(--accent-cl);
}

.navigation{
    display: flex;
    margin-left: 100px
}


.contacts{
    color:var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}
.info{
    color:var(--txt-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}
.info:hover{
    color:var(--accent-cl);
}
.tel{
    color:var(--txt-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}

.tel:hover{
    color:var(--accent-cl);
}


.list-benefits{
color:var(--txt-cl);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
    letter-spacing: 0.42px;


}
   

.button{
    background-color:var(--accent-cl);
    color: azure;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: none;
    
}
.button:hover{
    background-color: rgb(2, 104, 201);
   
}
.details{
    color:var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
}
.punctuality{
    color: var(--title-cl);
       
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.planning{
color:var(--title-cl);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}
.technology{
    color: var(--title-cl);
        
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.we-do{
color: var(--title-cl);
    text-align: center;
   
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
margin-bottom: 50px;

}
.our-team{
color: var(--title-cl);
    text-align: center;
    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
margin-bottom: 50px;

}
.list-item{
    width: 270px;
}

.list{
    list-style: none;
    display: flex;
   flex-wrap: wrap;
    gap: 30px;    
     margin-left: auto; 
        
    
}


.portfolio-list-title{

    color: var(--title-cl);
    font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: var(--line-height);
}

.portfolio-list-text{
    color: var(--txt-cl);
    font-family: var(--main-font);
    font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    
}
.business-efficiency{

    color: #FFF;
    background-color: var(--bg-cl);
    padding-top: 200px;
    padding-bottom: 200px;
}


.title{
    color: #FFF;
        text-align: center;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        
        letter-spacing: 2.64px;
        text-transform: uppercase;
width: 696px;
       margin-bottom: 40px;
       margin-right: auto;
       margin-left: auto;
       margin-top: 0;
}
address{
    font-style: normal;
}
.list-contacts{
    background: var(--bg-cl);
    flex-shrink: 0;
        padding-top: 60px;
        padding-bottom: 60px;
}
.team-background{
padding-top: 94px;
padding-bottom: 94px;
    background: #F5F4FA;
}
.team{

    color: var(--title-cl);
        text-align: center;
        
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
        margin-top: 30px;
}
.team-igor{
    padding-top: 30px;
    padding-bottom: 30px;

}

.list-contacts-map{
    color: #FFF;
}
    
    

.list-contacts-mail{
    color: rgba(255, 255, 255, 0.60);
}
.list-contacts-tell{
    color: rgba(255, 255, 255, 0.60);
}
.logo-footer{
    color: #FFF;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

.list-team{
    color: #757575;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
}
.button-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-portfolio{
    background-color: #F5F4FA;
    font-family: var(--main-font);
     border: none;

}
.button-portfolio:hover{
    background-color: var(--accent-cl);
    color: #FFF;
}

.footer-list{
    flex-direction: column;
    list-style: none;
}
